@import url(general.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--GrisClaro);
    min-width: 320px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


/** movil **/

/*header*/

header{
    background-color: var(--Amarillo);
    padding: 10px 0 0;
    min-height: 180px;
}

header .logo{
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 50%;
    display: flex;
    align-items: center;

}

header .buscar{
    font-size: var(--Font-size-p);
    color: var(--GrisOscuro);
    background-color: white;
    display: inline-block;
    margin: 4px 0 4px 15px;
    padding: 4px;
    min-width: 120px;
    width: 100%;
    height: 25px;
    border-radius: 4px 0 0 4px;

}

header .lupa{
    display: inline-block;
    font-size: var(--Font-size-p);
    margin: 4px 0;
    width: 25px;
    height: 25px;
    padding: 4px 0;
    background-color: white;
    border-radius: 0 4px 4px 0;
}

.barra-busqueda{
    display: flex;
    align-items: center;
    width: 50%;
}

.caja-encabezado{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 5%;
}

header .cuotas{
    font-size: var(--Font-size-p);
    display: block;
    text-align: center;
    margin: 10px 0;
}

.menu-site{
    display: none;
}

.menu-login-navbar{
    display: none;
}

header .burger{
    width: 35px;
    background-color: var(--Azul);
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: 20px auto;
    text-align: center;
    display: block;
}

/*main*/

.banner img{
    display: none;
    width: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.seccion-main{
    width:90%;
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-size: var(--Font-size-Titulares);
    width: 100%;
    padding: 0;
    margin: 20px 0 5px;
    color: var(--GrisOscuro)
}


.caja1{
    width: 100%;
    text-align: right;
    height: 0;
}


.envio-producto{
    color: var(--Verde);
    margin: 4px;
    border-radius: 50%;
    border: 1px solid var(--Verde);
    padding: 5px;
    position: right;
    position: relative;
    top: -22px;
}

.caja2{
    display: flex;
    text-align: left;
}


.precio{
    font-size: var(--Font-size-Precios);
    margin: 4px;
    width: 30%;
}

h4{
    display: none;
    color: var(--GrisOscuro)
}

span{
    font-size: var(--Font-size-Descuentos);
    margin: 4px;
    color: var(--Verde);
    width: 70%;
}

img{
    width: 100%;
}

.producto{
    width: 100%;
}

.detalle-producto{
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--GrisClaro);
    border-left: 15px;
    border-right: 15px;
    background-color: white;

}
    


/*footer*/

footer{
    text-align: center;
    background-color: var(--GrisClaro);
    border: 5px solid var(--GrisClaro);
}

footer .iconos{
    font-size: 2em;
    color: var(--Celeste);
    padding: 0 10px;
    margin: 10px;
}

h3{
    font-size: var(--Font-size-Descripciones);
    color: black;
    padding-top: 2px;
}

footer .seccion-footer{
    background-color: white;
    padding-top: 40px;
}

footer .container{
    color: var(--GrisOscuro);
    background-color: white;
    font-size: var(--Font-size-p);
    width: 100%;
    padding: 0 15%;
    text-align: center;
    display: block;
}

footer .copyright{
    color: var(--GrisOscuro);
    background-color: white;
    font-size: var(--Font-size-p);
    padding-bottom: 10px;
    padding-top: 30px;
}



/** tablet **/
@media (min-width:768px){

    /*header*/
   
header{
    min-height: 150px;
}

header .logo{ 
    width:50%;
}
   
header .buscar{
    width:100%;
}
     
.caja-encabezado{
    width: 66%;
}

.encabezado-completo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 5%;
}

header .cuotas{
    padding-top: 20px;
    width: 100%;
}

.caja-menu{
    display: flex;
    justify-content: space-between;
    font-size: var(--Font-size-p);
}

.caja-menu li{
    padding: 0 8px;
}

.menu-site, .menu-login-navbar{
    display: flex;
    padding: 20px;
}
   
        
header .burger{
    display: none;
}
     
   
    /*main*/
   
.banner img{
    display: block;
}
   
h2{
    width:90%;
}

h4{
    display: block;
    font-size: var(--Font-size-Descripciones);
    padding: 10px;
    text-align:left;
    background-color: white;
    border: 0 15px;
}
   
.seccion-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.producto{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width:45%;
    margin-bottom: 10px;
}
   
.detalle-producto{
    margin-bottom: 0;   
}
   
   
}  
   /** desktop **/
 @media (min-width : 1024px){

/*main*/
    
.producto{
    width:22%;
}

span{
    margin: 4px 0 4px 25px;
}

/*footer*/

.caja-footer{
    display: flex;
    justify-content: space-around;
    height: 200px;
    padding-top: 10px;
}

h3{
    padding-bottom: 5px;
}

}